.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: wheat;
}

.outbtn {
  width: 500px;
  height: 300px;
  font-size: 20px;
}

.modalBackGround {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.innerbtn {
  width: 360px;
  height: 239px;
  flex-shrink: 0;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 240px;
  background-color: white;
  border-radius: 15px;
}
